<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serliunx.varytalk.framework.logging.mapper.CoreLogMapper">

    <insert id="insertLog" parameterType="com.serliunx.varytalk.framework.logging.entity.CoreLog">
        insert into core_log(id, level, description, request_path, request_header, request_body, request_params,
                             operator_id, operator_type, create_by, create_time, update_by, update_time, remark)
        values(null, #{level}, #{description}, #{requestPath}, #{requestHeader}, #{requestBody}, #{requestParams},
               #{operatorId}, #{operatorType}, #{createBy}, sysdate(), #{createBy}, sysdate(), #{remark})
    </insert>

    <select id="selectList" resultType="CoreLog" parameterType="CoreLog">
        select * from core_log where id > 0
        <if test="level != null and level != ''">
            and level = #{level},
        </if>
        <if test="operatorType != null and operatorType != ''">
            and operator_type = #{operatorType},
        </if>
        <if test="description != null and description != ''">
            and 'description' like concat('%', #{description}, '%')
        </if>
    </select>
</mapper>