<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serliunx.varytalk.system.mapper.SystemRoleMapper">

    <resultMap id="roleResult" type="com.serliunx.varytalk.system.entity.SystemRole">
        <result property="id" column="id"/>
        <result property="fatherId" column="father_id"/>
        <result property="roleName" column="role_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="role">
        select sr.id, sr.father_id, sr.role_name, su.nick_name as create_by, sr.create_time, sr.update_by, sr.update_time, sr.remark
        from sys_role sr left join sys_user su on sr.create_by = su.username where sr.id > 0
    </sql>

    <select id="selectList" parameterType="com.serliunx.varytalk.system.entity.SystemRole" resultMap="roleResult">
        <include refid="role"/>
        <if test="roleName != null and roleName != ''">
            and sr.role_name like concat('%', #{roleName}, '%')
        </if>
    </select>

    <select id="selectById" parameterType="long" resultMap="roleResult">
        <include refid="role"/>
        and sr.id = #{id} limit 1
    </select>

    <select id="selectByName" parameterType="string" resultMap="roleResult">
        <include refid="role"/>
        and sr.role_name = #{roleName} limit 1
    </select>

    <insert id="insertRole" parameterType="com.serliunx.varytalk.system.entity.SystemRole" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into sys_role(id, father_id, role_name, create_by, create_time, update_by, update_time, remark)
        values(null, #{fatherId}, #{roleName}, #{createBy}, sysdate(),null, null, #{remark})
    </insert>

</mapper>