<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serliunx.varytalk.forum.mapper.ForumUserPointMapper">
    <resultMap id="forumUserPointResult" type="com.serliunx.varytalk.forum.entity.ForumUserPoint">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="pointId" column="point_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="forumUserPoint">
        select * from forum_user_points where id > 0
    </sql>

    <select id="select" parameterType="long" resultMap="forumUserPointResult">
        <include refid="forumUserPoint"/>
        and user_id = #{userId} and point_id = #{pointId} limit 1
    </select>

    <insert id="insert" parameterType="com.serliunx.varytalk.forum.entity.ForumUserPoint"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into forum_user_points(id, user_id, point_id, points, create_by, create_time, update_by, update_time, remark)
        values(null, #{userId}, #{pointId}, #{points}, #{createBy}, sysdate(), null, null, #{remark})
    </insert>

    <update id="update" parameterType="com.serliunx.varytalk.forum.entity.ForumUserPoint">
        update forum_user_points set points = #{points}, update_time = sysdate() where user_id = #{userId} and point_id = #{pointId}
    </update>

    <select id="selectByUserId" parameterType="long" resultMap="forumUserPointResult">
        <include refid="forumUserPoint"/>
        and user_id = #{userId}
    </select>
</mapper>