<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.serliunx.varytalk.project.system.mapper.SystemRolePermissionMapper">

    <resultMap id="rolePermissionResult" type="github.serliunx.varytalk.project.system.entity.SystemRolePermission">
        <result property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="permissionId" column="permission_id"/>
        <result property="permissionValue" column="permission_value"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="rolePermission">
        select srp.id, srp.role_id, srp.permission_id, srp.create_by, srp.create_time, sr.role_name as role_name, sp.value as permission_value,
        srp.update_by, srp.update_time, srp.remark from sys_role_permission srp left join sys_role sr on srp.role_id = sr.id
        left join sys_permission sp on srp.permission_id = sp.id where srp.id > 0
    </sql>

    <select id="selectList" parameterType="SystemRolePermission" resultMap="rolePermissionResult">
        <include refid="rolePermission"/>
        <if test="roleName != null and roleName != ''">
            and sr.role_name like concat('%', #{roleName}, '%')
        </if>
    </select>

    <select id="selectByRoleId" parameterType="long" resultMap="rolePermissionResult">
        <include refid="rolePermission"/>
        and srp.role_id = #{roleId}
    </select>

    <select id="checkIfGiven" resultMap="rolePermissionResult">
        <include refid="rolePermission"/>
        and srp.role_id = #{roleId} and srp.permission_id = #{permissionId} limit 1
    </select>

    <insert id="insertRolePermission" parameterType="SystemRolePermission" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into sys_role_permission(id, role_id, permission_id, create_by, create_time, update_by, update_time, remark)
        values(null, #{roleId}, #{permissionId}, #{createBy}, sysdate(), #{updateBy}, #{updateTime}, #{remark})
    </insert>
</mapper>