<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.serliunx.varytalk.project.system.mapper.SystemUserPermissionMapper">

    <resultMap id="userPermissionResult" type="github.serliunx.varytalk.project.system.entity.SystemUserPermission">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="permissionId" column="permission_id"/>
        <result property="permissionValue" column="permission_value"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    
    <sql id="userPermission">
        select sup.id, sup.user_id, sup.permission_id, sup.create_by, sup.create_time, su.username as username, sp.value as permission_value,
        sup.update_by, sup.update_time, sup.remark from sys_user_permission sup left join sys_user su on sup.user_id = su.id
        left join sys_permission sp on sup.permission_id = sp.id where sup.id > 0
    </sql>

    <select id="selectList" parameterType="SystemUserPermission" resultMap="userPermissionResult">
        <include refid="userPermission"/>
        <if test="username != null and username != ''">
            and su.username like concat('%', #{username}, '%')
        </if>
    </select>

    <select id="selectByUserId" parameterType="long" resultMap="userPermissionResult">
        <include refid="userPermission"/>
        and sup.user_id = #{userId}
    </select>

    <select id="checkIfGiven" resultMap="userPermissionResult">
        <include refid="userPermission"/>
        and sup.user_id = #{userId} and sup.permission_id = #{permissionId} limit 1
    </select>

    <insert id="insertUserPermission" parameterType="SystemUserPermission" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into sys_user_permission(id, user_id, permission_id, create_by, create_time, update_by, update_time, remark)
        values(null, #{userId}, #{permissionId}, #{createBy}, sysdate(), #{updateBy}, #{updateTime}, #{remark})
    </insert>
</mapper>